.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-body {
  background-color: #282c34;
  display: flow;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;

  /*margin: 0;*/
  height: 100%;
  /*overflow: inherit;*/
  /*display: revert;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.App-link {
  color: #61dafb;
  text-align: center;
}

.App-intro {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.myH1{
  color: #61dafb;
  font-size: calc(30px + 2vmin);
  /*margin-bottom: 3%;*/
  font-weight: bold;
}

.totalCount{
  margin-top: 1.5rem;
  padding-top: .75rem;
  padding-left: 1.75rem;
  padding-bottom: .5rem;
  border-style: inset;
  border-width: .15rem;
  border-color: white;
}

.somethingIsWrong{
  margin-top: 10rem;
}

.somethingIsWrongH2{
  color: white;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1rem;
}

.somethingIsWrongImage{
  width: 50%;
}

.totalCountText{
  font-size: 1.5rem;
  padding-top: .75rem;
}

.totalCountValue{

  color: #61dafb;
  font-weight: bold;
  font-size: 2.5rem;
}

.flowStyle{
  height: 20%;
  z-index: 0;
  margin-bottom: 7%;
  margin-top: 2%;

}

.Chart-styles{
  /*padding-bottom: 500px;*/
  padding-top: 4%;
  background-color: #282c34;
}

#chartdiv {
  width: 100%;
  height: 400px;
}

div{
  color:white;
  background-color: #282c34;
}

h2{
  margin-left: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
